
{% extends "pokemons/pokemonBase.html.twig" %}
           
{% block contenido %}          

    {% for mensaje in app.flashes('exito') %}
        <p>{{ mensaje }}</p>
    {% endfor %}

    {{ form(pokemonForm) }}
    

{% endblock %}
